.hgg{
color: purple;
width:200px;
background:green;
}

h2{
color:blue;
width:800px;
height:150px;
background: yellow;
border-radius: 50%;
}

aside{
color:greenyellow;
background: black;
width:400px;
height:500px;
}

body{
background-color: pink;
}
.blue-text{
color:red;
}

.red-text{
color:red;
}
#catphotoapp{
background-color: purple;
width:150px;
border-radius: 50%;
}

.newnewlayout{
display:flex;
flex-direction:row;
flex-wrap:wrap;
}
.first{
    flex-shrink:0;
    }

    .second{
    flex-shrink:0;
    }
.newnewlayout  div{
   background:purple;
   flex-basis:400px;
   border:2px solid rgb(250, 247, 247);
   margin:10px;
   height:50px
  
    }

    

    #parent{
    display:flex;
    background:red;
    width:50vw;
    height:50vh;
    justify-content: center;
    align-items: center;
flex-direction: column;
    }

    .child{
    background:yellow;
    width: 200px;
    height:200px;
    margin:5px;
    }

  #grid{
    background:yellow;
    display:grid;
    grid-template-columns: 150px 200px 150px;
  }
  
  #grid div{
width:100px;
height:100px;
  }

  #grid div:nth-child(2n){
    background:orange;
  }

    
  #grid div:nth-child(2n+1){
    background:blue;
  }






