h1{
color: purple;
width:200px;
background:green;
}

h2{
color:blue;
width:800px;
height:150px;
background: yellow;
border-radius: 50%;
}

aside{
color:greenyellow;
background: black;
width:400px;
height:500px;
}

body{
background-color: pink;
}
.blue-text{
color:red;
}

.red-text{
color:red;
}
#catphotoapp{
background-color: purple;
width:150px;
border-radius: 50%;
}