body{
padding: 0;
margin:0;
--bgcolor: green;
/*background: var(--bgcolor); */
}

#somediv{
--bgdiv: red;
background: var(--bgcolor);
}
#selectors{
--blue: #6495ed;
}

:root{

}
#grid{
display:grid;
grid-template-columns: 1fr 1fr;
grid-template-areas:

'header'
'main'
'sidebar'
'footer'


}


main{
    background:green;
    grid-area:main;
}

aside{
    background:black;
    color:white;
    grid-area:sidebar;
}

footer{
background:blue;
color:white;
grid-area:footer;
}

header{
    background:yellow;
    grid-area:header;
}


.yopr{
width:400px;
height: 200px;
padding: 200px;
color: black;
background-color: yellow;
border:6px solid black;
box-sizing: border-box;
}