body {
    background-color: rgb(34,39,46);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    border: 4px solid white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 2px 4px 2px;
}

.content {
    background-color: rgb(82, 85, 92);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px 0;
}

h4 {
    margin-bottom: 30px;
}

#head {
    margin: auto;
    font-size: 100px;
}

#main {
    margin: auto;
    font-size: 40px;
}

#rows .content div:hover {
    background-color: transparent;
    color: black;
  }
  
  #rows .content div.selected {
    background-color: white;
    color: black;
  }
  